@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(193, 193, 247);
  height: 100vh;
  margin: 0;
}

.quote-wrapper{
  background: #fff;
  width: 700px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 20px 0px rgb(0,0,0,0.15);
}

.quote-wrapper h2{
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
  font-family: "Oleo Script", system-ui;
}

.quote-wrapper h2::after{
  content: '';
  width: 75px;
  height:3px;
  border-radius: 3px;
  background: rgb(23,124,229);
  position: absolute;
  bottom: -10px;
  margin: auto;
  left: 50%;
  transform: translate(-50%);
}

.quote-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.quote-content h3{
  font-size: 26px;
  height: 80px;
}

.quote-content h4{
  right: 0px;
  margin-right: 0px;
}

.quote-wrapper button{
  background: rgb(23,124,229);
  color: #fff;
  border-radius: 25px;
  border: 1px solid rgb(23,124,229);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: "Fresca", sans-serif;
  margin: auto;
} 


